.test{
    width: 200px;
    border: 1px solid black;
    border-radius: 9px;
    padding: 10px 15px;
    font-size: medium;
    margin: 100px;
    margin: auto;
    font-weight: 400;
    font-family: "Vollkorn", serif;
    box-shadow: 10px 10px rgba(144, 238, 144, 0.5);

    
}

.test:hover{
        background-color: lightgrey;
    }